/* Plain white background with game area in colour for contrast */

body {
    background-color: #F0E9E8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3a3a3a;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: large;
}

.logo {
    height: 6em;
    padding: auto;
}

/* style the area the sign-in and game will be contained within */

.game-area {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    max-height: 90rem;
    max-width: 80rem;
    margin: 10px auto;
    padding: 1%;
    background-color: silver;
}

.messages {
    border: 1px solid hsl(0, 62%, 69%);
    width: 70%;
    margin: .75em auto;
    padding: .5em 0;
}

.game {
    margin-top: 4em;
}

.hide {
    display: none;
}

.show {
    display: block
}

.start-game {
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid hsl(0, 62%, 69%);
    background-color: hsl(0, 62%, 69%);
    color: #2a2a2a;
    font-size: 2rem;
    font-weight: bold;
}

.start-game:hover, .start-game:active {
    background-color: #2a2a2a;
    color: hsl(0, 62%, 69%);
}

.directions, .sign-in {
    display: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color: #3a3a3a;
    margin-bottom: 4em;
}

.directions {
    border: 1px solid hsl(0, 62%, 69%);
    width: 70%;
    margin: .75em auto;
    padding: .5em 0;
}

/* from Love Maths */
.random-numbers {
    border: 1px solid hsl(0, 62%, 69%);
    width: 70%;
    font-size: 2em;
    margin: .75em auto;
    padding: .5em 0;
}

/* Similar in principle to 'answer-box' in LM */
.vote-box {
    border: none;
    color: #3a3a3a;
    display: inline-block;
    height: auto;
    font-size: 1.2rem;
    padding-top: 2%;
}

/* style the voting buttons */
#choose-Higher {
    border-color: hsl(0, 62%, 69%);
    color: #3a3a3a;
    font-size: 2rem;
}

#choose-Higher:hover {
    background-color: #3a3a3a;
    color: white;
}

#choose-Lower {
    border-color: hsl(0, 62%, 69%);
    color: #3a3a3a;
    font-size: 2rem;
}

#choose-Lower:hover {
    background-color: #3a3a3a;
    color: white;
}

/* using a similar style to that used in the Score area of LM */
.increment-scores {
    margin: 5px auto;
    width: 65%;
    font-size: 1.6rem;
}

.tally {
    color: #3a3a3a;
    font-weight: bold;
}

#tally-correct {
    color: darkblue;
    font-weight: bold;
}

#tally-incorrect {
    color: darkgreen;
    font-weight: bold;
}

/* button styling - Love Maths buttons used as a starting point for this style */

.button {
    width: 15em;
    height: 3.75em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .2em;
    color: #3a3a3a;
}

/* turn the square buttons into circles */

.big-button {
    background-color: white;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    padding-top: 10px;
    border: 10px solid;
    font-size: 2rem;
    margin: 5px 25px;
    transition: all 0.5s;
}

.purple-button {
    border-color: #540D6E;
    background-color: #540D6E;
    color: white;
}

.pink-button {
    
    border-color: #EE4266;
    background-color: #EE4266;
    color: white;
}

.yellow-button {
    border-color: #FFD23F;
    background-color: #FFD23F;
    color: white;
}

.blue-button {
    border-color: #3BCEAC;
    background-color: #3BCEAC;
    color: white;
}

.green-button {
    border-color: #0EAD69;
    background-color: #0EAD69;
    color: white;
}

/* .game-over {
    display: none;
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    max-height: 950px;
    max-width: 850px;
    margin: 10px auto;
    padding: 1%;
    background-color: silver;
} */

@media screen and  (max-width : 768px) {
    .random-numbers {
        width: 85%;
    
    }

    .directions {
        width: 85%;
            
    }
}
/* 
Trying out Canvas */
/* #myCanvas {
    width: 600px;
    height: 400px;
    border: 1px solid;
} */