/* Plain white background with game area in colour for contrast */

body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3a3a3a;
    text-align: center;

}

.heading {
    text-align: center;
    font-size: large;
}

.logo {
    height: 6em;
    padding: auto;
}

/* style the area the game will be contained within */

.game-area {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    max-height: 850px;
    max-width: 850px;
    margin: auto;
    padding: 1%;
    background-color: #9a9a9a;
}

/* from Love Maths */
.random-numbers {
    border: 1px solid;
    width: 50%;
    font-size: 2em;
    margin: auto;
    padding: 1em 0;

}
/* Similar in principle to 'answer-box' in LM */
.vote-box {

    border: none;
    color: #3a3a3a;
    display: inline-block;
    height: 2.5em;
    width: 7em;
    font-size: 1.2rem;
    padding-top: 5%;
}