/* Plain white background with game area in colour for contrast */

body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3a3a3a;
    text-align: center;

}

.heading {
    text-align: center;
    font-size: large;
}

.logo {
    height: 6em;
    padding: auto;
}

/* style the area the game will be contained within */

.game-area {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    max-height: 850px;
    max-width: 850px;
    margin: 10px auto;
    padding: 1%;
    background-color: #9a9a9a;
}

/* from Love Maths */
.random-numbers {
    border: 1px solid;
    width: 75%;
    font-size: 2em;
    margin: 2em auto;
    padding: 2em 0;

}
/* Similar in principle to 'answer-box' in LM */
.vote-box {

    border: none;
    color: #3a3a3a;
    display: inline-block;
    height: 2.5em;
    width: 7em;
    font-size: 1.2rem;
    padding-top: 5%;
}

#chooseHigher {
    border-color: #3a3a3a;
    color: #3a3a3a;
}

#chooseHigher:hover {
    background-color: #3a3a3a;
    color: white
}

#chooseLower {
    border-color: #3a3a3a;
    color: #3a3a3a;
}

#chooseLower:hover {
    background-color: #3a3a3a;
    color: white;
}

/* using a similar style to that used in the Score area of LM */
.increment-scores {
    margin: 5px auto;
    width: 65%;
    font-size: 1.6rem;
}

.tally {
    color: #3a3a3a;
    font-weight: bold;
}

#tally-correct {
    color: darkblue;
    font-weight: bold;
}

#tally-incorrect {
    color: darkgreen;
    font-weight: bold;
}

/* button styling - Love Maths buttons used as a starting point for this style */

.button {
    width: 15em;
    height: 3.75em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .2em;
    color: #3a3a3a;
}

/* turn the buttons into circles */

.big-button {
    background-color: white;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    padding-top: 10px;
    border: 10px solid;
    font-size: 2rem;
    margin: 0 25px;
    transition: all 0.5s;
}

.red-button {
    border-color: red;
    color: red;
}

/* in testing (add to README.md) hover would not work.  This is because (w3schools tells me) :active must come after :hover,. */
.red-button:hover, .red-button:active {
    background-color: red;
    color: white;
}

.orange-button {
    
    border-color: orange;
    color: orange;
}


.orange-button:hover, .orange-button:active {
    background-color: orange;
    color: white;
}

.purple-button {
    border-color: purple;
    color: purple;
}


.purple-button:hover, .purple-button:active {
    background-color: purple;
    color: white;
}

.green-button {
    border-color: green;
    color: green;
}


.green-button:hover, .green-button:active {
    background-color: green;
    color: white;
}

.blue-button {
    border-color: blue;
    color: blue;
}


.blue-button:hover, .blue-button:active {
    background-color: blue;
    color: white;
}